// @import "bootstrap/scss/bootstrap";

$content-box: #303461;
$footer: #222;
$footer-font: rgb(255, 255, 255);
$new-colour: rgb(56, 177, 56);

#content-outer {
    display:block;
    padding: 40px;
    margin: auto;
    width: clamp(300px, 700px, 1000px);
    font-size: 1.5rem;
    max-width: 100%;
    & > div {
        background-color: $content-box;
        // background-image: url(../content-background.jpg);
        // background-position: center;
        min-height: 600px;
        border-radius: 20px;
        box-shadow: 10px 10px 40px rgba(0,0,0,0.06);
        padding: 40px;
    }
}

.accordion-item {
    min-width: 200px; 
}

#new-holder {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    padding-bottom: 10px;
    gap: 20px;
}

#new-holder > div:first-child {
    font-family: "custom-font";
}

.main-icon {
    padding: 20px;
    background-image: url(../notepad.svg);
}