@use "colours";

[data-bs-theme="dark"] {
    .input-group > label,
    button[type="submit"] {
        background-color: colours.$dark-button;
        border: none;
    }

    button[type="submit"]:hover {
        background-color: colours.$dark-button-hover;
    }

    .accordion-body {
        background-color: colours.$dark-item-background;
    }
}