.accordion-body {
    color: white;
    font-size: 1rem;
    margin: 0px 10px;
}

.title-wrapper {
    background-color: rgb(97, 100, 255);
}

#short-title {
    font-weight: bold;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}