#date {
    font-style: italic;
}

.accordion-body {
    font-size: 1rem;
    background-color: #3b439b;
}

#description-wrapper,
#description-locked {
    background: none;
    border: none;
}

#description-unlocked {
    background-color: #3b439b;
    border: none;
    color: white;
}

.title {
    font-weight: bold;
    font-size: 1.1rem;
}

#priorities {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 5px;
}

.btn-group > label {
    border: none;
    font-weight: bold;
}

.item-top {
    border-bottom: 2px solid white;
}

#icon-wrapper {
    background-position:center;
    display: flex;
    & > div {
        padding: 10px;
    }
    & > div:hover {
        border-radius: 100%;
        background-color: rgb(154, 154, 154);
        cursor: pointer;
    }
}