@use "colours";

#menu {
    position: absolute;
    left: 10px;
    top: 10px;
    border: none;
}

#menu-close {
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    &:hover {
        cursor: pointer;
    }
}

#menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#menu-header-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    font-family: "custom-font";
    padding-left: 15px;
    & div:first-child {
        font-size: 1.5rem;
    }
    & div:nth-child(2) {
        font-size: .7rem;
    }
}

#menu-body {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    justify-content: space-between;
}

#mode-icons {
    padding-top: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#mode-icons > div {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
    align-items: center;
    font-weight: bold;
    &:hover {
        cursor: pointer;
        border-radius: 10px;
        background-color: rgba(207, 207, 207, 0.178);
    }
}

#creator-links {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px;
    margin-bottom: 20px;
    font-family: "custom-font";
    width: auto;
    font-weight: bold;
    & > a:hover {
        cursor: pointer;
        // background-color: rgb(154, 154, 154);
        border-radius: 100%;
    }
}

[data-bs-theme="dark"] {
    #menu {
        background-color: colours.$dark-button;
        &:hover {
            background-color: colours.$dark-button-hover;
        }
    }

    #menu-close {
        background-color: colours.$dark-button;
            &:hover {
            background-color: colours.$dark-button-hover;
            }
    }

    #offcanvasScrolling {
        opacity: .9;
    }
}

[data-bs-theme="light"] {
    #menu {
        background-color: colours.$light-button;
        &:hover {
            background-color: colours.$light-button-hover;
        }
    }

    #menu-close {
        background-color: colours.$light-button;
            &:hover {
            background-color: colours.$light-button-hover;
            }
    }

    #offcanvasScrolling {
        background-color: colours.$light-item-background-op;
    }
}