@import "bootstrap/scss/bootstrap";

$content-box: #fff;
$footer: #222;
$footer-font: #fff;

body {
    background-color:#fafafa;
    font-family: Segoe UI, sans-serif;
}

body, html {
    margin:0;
    padding:0;
}

* {
    box-sizing:border-box;
}

content {
    display:block;
}

body > content {
    padding:40px;
    margin:auto;
    width: clamp(300px, 700px, 1000px);
    max-width:100%;
    & > content {
        background-color: $content-box;
        min-height:600px; // to look cool
        border-radius:20px;
        box-shadow:10px 10px 40px rgba(0,0,0,0.06);
        padding:40px;
    }
    & > .accordion-item {
        min-width: 200px; 
    }
}