@use "item-info";
@use "content";
@use "form";
@use "menu";
@import "bootstrap/scss/bootstrap";

@font-face {
    font-family: "custom-font";
    src: url("../custom-font.woff2") format("woff2"),
    url("../custom-font.woff") format("woff");
}

body {
    font-family: Segoe UI, sans-serif;
}

body, html {
    margin:0;
    padding:0;
}

* {
    box-sizing:border-box; 
    // color: white;
}

.input-group-text,
button {
    font-weight: bold !important;
}

[data-bs-theme="dark"] {
    body {
        background-image: url("../background.jpg");
    }

    .accordion-button {
        background-color: #303461;
    }
}

[data-bs-theme="light"] {
    body {
        background-image: url("../light-background.jpg");
    }
}