@use "item-info";
@use "content";
@use "form";
@import "bootstrap/scss/bootstrap";

@font-face {
    font-family: "custom-font";
    src: url("../custom-font.woff2") format("woff2"),
    url("../custom-font.woff") format("woff");
}

body {
    background-color:#fafafa;
    font-family: Segoe UI, sans-serif;
}

body, html {
    margin:0;
    padding:0;
}

* {
    box-sizing:border-box;
}